<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.sovworks.eds.android"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens android:anyDensity="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.sovworks.eds.android.EdsApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backupscheme"
        android:icon="@drawable/ic_launcher_eds"
        android:label="@string/eds"
        android:theme="@style/Theme.EDS">
        <activity
            android:name=".filemanager.activities.FileManagerActivity"
            android:label="@string/eds">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="resource/folder"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter tools:ignore="AppIndexingApiError">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.OPENABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.tc"/>
                <data android:pathPattern=".*\\.eds"/>
                <data android:pathPattern=".*\\.luks"/>
                <data android:pathPattern=".*\\.vc"/>
                <data android:pathPattern=".*\\.hc"/>
                <data android:pathPattern=".*\\.dvf"/>
                <data android:host="*"/>
            </intent-filter>
        </activity>
        <activity android:name=".locations.activities.LocationListActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".locations.activities.CreateLocationActivity" android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".locations.activities.LocationSettingsActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/settings" />
        <activity android:name=".activities.LocationShortcutWidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CancelTaskActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Dialog"
            android:label="@string/eds">
            <intent-filter>
                <action android:name="com.sovworks.eds.android.ACTION_CANCEL_TASK"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".filemanager.activities.ImageViewerActivity"
            android:label="@string/image_viewer"/>
        <activity
            android:name=".locations.activities.CloseLocationsActivity"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".locations.activities.OpenLocationsActivity"
            android:excludeFromRecents="true"/>
        <activity
            android:name=".activities.VersionHistory"
            android:label="@string/version_history"/>
        <activity
            android:name=".settings.activities.ProgramSettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".settings.activities.OpeningOptionsActivity"
            android:label="@string/settings"
            android:windowSoftInputMode="adjustPan"/>
        <service android:name=".service.FileOpsService"/>
        <service android:name=".service.LocationsService"/>
        <receiver android:name=".widgets.LocationShortcutWidget"
                  android:label="@string/eds_shortcut">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sovworks.eds.android.BROADCAST_LOCATION_CHANGED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_info"/>
        </receiver>
        <receiver android:name=".widgets.CloseAllContainersWidget"
                  android:label="@string/close_all_containers">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sovworks.eds.android.BROADCAST_LOCATION_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.sovworks.eds.android.BROADCAST_ALL_CONTAINERS_CLOSED"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/close_all_containers_widget_info"/>
        </receiver>
    </application>
</manifest> 
